body{
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
}

.container{
	width: 375px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 30px;
	margin: 30px auto;
    padding: 30px;
    border-style: outset;
    border-color: hsl(0, 0%, 42%);
    border-right-width: 10px;
    border-bottom-width: 10px;
}

h2{
    font-size: 16px;
}

img{
	width: 100%;
    border-radius: 10px;
}

.parrafo{
    color: hsl(0, 0%, 42%);
    font-size: 18px;
    line-height: 30px;
}

.learning{
    background-color: hsl(47, 88%, 63%);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    width: 17%;
    font-size: 16px;
}

.autor{
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 15px;
}

.perfil img{
    width: 40px;
    padding-right: 15px;
}

.perfil{
    position: relative;
}